<%= form_for :user, url: "/users/new" do |f| %>
    <p>Name: <%= f.text_field :name %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.text_field :password %></p>
    <p>Password Confirmation: <%= f.text_field :password_confirmation %></p>
    <%= submit_tag "Join" %>
<% end %>