<h1><%= current_user.name %></h1>
<p><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></p>
<%= form_for :secret, url: "/secrets" do |f| %>
    <%= f.text_area :content %>
    <%= submit_tag "Create Secret" %>
<% end %>
<h2>Secrets</h2>
<% current_user.secrets.each do |s| %>
    <%= s.content %>
    <form action="/secrets/<%=s.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Secret">
    </form>
<% end %>