<h1>Secrets</h1>
<% Secret.all.each do |secret| %>
    <p><%= secret.content %></p>
    <% if current_user == secret.user %>
        <form action="/secrets/<%=secret.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
    <p><%= secret.likes.size %> likes</p>
    <% if current_user.secrets_liked.exists?(secret.id) %>
        <form action="/secrets/<%=secret.id%>/likes" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Unlike">
        </form>
    <% else %>
        <form action="/secrets/<%=secret.id%>/likes" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" value="Like">
        </form>
    <% end %>
<% end %>